{% extends "base.html" %}
{% load static %}
{% block title%} Login{% endblock %}
{% block content %}
<link rel='stylesheet' href="{% static 'css/auth.css' %}">
<div id="auth">
  <div id="errors">
    {% include "formerrors.html" %}
    {% include "message.html" %}
  </div>
  <div id="form-signin">
      <form method="post" action="{% url 'authentication:render_login_page' %}">
        {% csrf_token %}
        {{ form.email }}
        {{ form.password }}
          <button id="action" type="submit">Sign In</button>
          <hr class="inner-separator">
          <span id="forgotpsw"><a href="#">Forgot password?</a></span>
          <span id="forgotpsw"><a href="{% url 'authentication:render_signup_page' %}">Trying to signup?</a></span>
      </form>
  </div>
</div>

{% endblock %}