{% extends "base.html" %}
{% load static %}
{% block title %} Signup {% endblock %}
{% block content %}
<link rel='stylesheet' href="{% static 'css/auth.css' %}">
<div id="auth">
  <div id="errors">
    {% include "formerrors.html" %}
    {% include "message.html" %}
  </div>
  <div id="form-signup">
    <form method="post" action="">
      {% csrf_token %}
      {{ form.first_name }}
      {{ form.last_name }}
      {{ form.email }}
      {{ form.password }}
      {{ form.confirm_password }}
      <button id="action" type="submit">Sign up</button>
      <hr class="inner-separator">
      <span id="forgotpsw"><a href="{% url 'authentication:render_login_page' %}">Trying to signin?</a></span>
    </form>
  </div>
</div>
{% endblock %}