#id_title{
    width: 100%;
    border: none;
    /* border-bottom: 1px solid black; */
    font-size: 2.7em;
    letter-spacing: -0.011em;
    font-style: normal;
    line-height: 1.3em;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #4a4a4a;
    height: 2em;
    overflow-y: hidden;
}
#id_title:focus{
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}


#id_description{
    width: 90%;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    color: grey;
}

input:focus{
    outline: none;
}

#postform-wrapper{
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.4em;
    overflow: visible;
    min-height: 80vh;
    padding: 2em;
    margin: 0 auto;
    background-color: white;
    margin-top: 3em;
    padding-bottom: 4em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
#publish-button{

    display: inline-block;
    background-color: white;
    color: grey;
    padding: 0.4em;
    font-size: 1.2em;
    margin: 8px 0;
    border: 1px solid gray;
    cursor: pointer;
    width: 90%;
}


#errors-addpost{
    margin: auto;
    width: 100%;
    margin-top: 10px;
}

.medium-editor-element{
    text-align: left;
    color: black;
    font-size: 1.2em;
    line-height: 1.5em;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
.visible-mobile{
    display:block;
}

#mobile-button{
    bottom: 1em;
}
@media screen and (min-width: 1300px) { 
    #postform-wrapper{
        width: 60%;
    }
    .comment{
        width: 60%;
    }
    #parent-line{
        display: flex;
        justify-content: space-between;
    }
    .visible-mobile{
        display:none;
    }
  }