#id_title{
    width: 90%;
    margin: 8px 0;
    border: none;
    /* border-bottom: 1px solid black; */
    box-sizing: border-box;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#id_description{
    width: 90%;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
}

input:focus{
    outline: none;
}

#postform-wrapper{
    text-align: center;
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px grey;
    overflow: visible;
    min-height: 90vh;
    margin-top: 10px;
    padding-top:10px;
}
#publish-button{

    display: inline-block;
    background-color: white;
    color: grey;
    padding: 0.4em;
    font-size: 1.2em;
    margin: 8px 0;
    border: 1px solid gray;
    cursor: pointer;
    width: 90%;
}


.tox-tinymce {
    margin: 0 auto;
}
#errors-addpost{
    margin: auto;
    width: 90%;
    margin-top: 10px;
}