.content {
    font-family: "helvetica","Times New Roman", Times, serif;
    font-size: 16px;
    margin-top: 16px;
    line-height: 23px;
}
.description {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    margin-top: 15px;
}
.comment{
    padding-left: 24px;
    padding-right: 24px;
}

.comment-author{
    font-family: Helvetica, Courier, monospace;
    font-size: 22px;
}

.comment-content{
    font-family:  Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
}
.submit-comment {
    margin-top: 5px;
}