.content {
    font-size: 19px;
    margin-top: 30px;
    line-height: 27px;
}
.content-title {
    font-size: 35px;
    font-weight: 700;
}
.description {
    font-size: 14px;
    margin-top: 15px;
}
.comment{
    padding-left: 24px;
    padding-right: 24px;
}

.comment-author{
    font-size: 22px;
}

.comment-content{
    font-size: 14px;
    padding-top: 10px;
}
.submit-comment {
    margin-top: 5px;
}
