#posts{
    margin-left: auto;
    margin-right: auto;
}

.post{
    background-color: white;
    height: auto;
    padding: 2em;
    margin-top: 2em;
    border: 1px solid #efefef;
    border-radius: 6px;
    overflow: auto;
    box-shadow: 1px 1px grey;
}

.post-title{
    font-size: 1.5em;
    margin-top: 10px;
}
.post-title a{
    text-decoration: none;
    color: black;
}
 .post-byline{
    color: grey;
    font-size: 15px;
}

.post-byline a{
    text-decoration: none;
    color: grey;
}
.post-byline a:visited{
    text-decoration: none;
    color: grey;
}


.post-sneak-peak{
    font-size: 1em;
    margin-top:10px;
    color: grey;
    max-height: 5em;
    min-height: 2em;
    overflow: hidden;
}
.post-sneak-peak img{
    max-width: 90%;
    margin: 0 auto;
    height: auto;
    width: auto;
    display: block;
    
}

#sentinel{
    /* There is a bug in firefox, mac where the intersection api doesn't work properly for elements with 0 height. So setting it to 1 */
    /* https://bugzilla.mozilla.org/show_bug.cgi?id=1492155 */
    height: 1px;
}

.post-like{
    display: inline;
    font-size:15px;
    padding: 5px;
}

.like-number{
    display:inline;
    vertical-align : middle; 
    color: grey;
}
.heart{
    display:inline;
    vertical-align : middle;
    height: 26px;
}

.post-comment{
    display: inline;
    font-size:15px;
    padding:5px;
}

.comment-number{
    display:inline;
    vertical-align : middle; 
    color: grey;
}
.comment-icon{
    display:inline;
    vertical-align : middle;
    height: 26px;
}
.post-option{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#errors-post{
    margin: auto;
    max-width: 90%;
    margin-top: 5px;
    margin-bottom: 5px; 
}

@media screen and (min-width: 1300px) { 
    #errors-post{
        max-width: 50%;
    }
  }
  