#posts{
    margin-left: auto;
    margin-right: auto;
}

.post{
    background-color: white;
    width: 65%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    border: 1px solid #efefef;
    border-radius: 6px;
    overflow: auto;
    margin-top:20px;
    box-shadow: 1px 1px grey;
    font-family:Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1300px) { 
    .post{
        width: 50%; /* Can be in percentage also. */
    }
  }
  

.post-title{
    font-size: 24px;
    margin-top: 10px;
}

 .post-byline{
    color: grey;
    font-size: 15px;
}

.post-byline a{
    text-decoration: none;
    color: grey;
}
.post-byline a:visited{
    text-decoration: none;
    color: grey;
}


.post-content{
    font-size: 17px;
    margin-top:10px;
    color: grey;
}

.read-more{
    display: inline-block;
    position: relative;
    padding:10px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}

.read-more a{
    text-decoration: none;
    float: right;
    color: grey;
}

body{
    background-color: #e5ded8;
}
.inner-separator{
    border: none;
    height: 1px;
    color: grey; 
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 10px;
}

#sentinel{
    /* There is a bug in firefox, mac where the intersection api doesn't work properly for elements with 0 height. So setting it to 1 */
    /* https://bugzilla.mozilla.org/show_bug.cgi?id=1492155 */
    height: 1px;
}