
#user-details{
    text-align: center;
    background-color: white;
    width: 65%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    border: 1px solid #efefef;
    border-radius: 6px;
    margin-top:20px;
    box-shadow: 1px 1px grey;
    font-family:Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1300px) { 
    #user-details{
        width: 50%; /* Can be in percentage also. */
    }
  }

#username{
    font-size: 30px;
}

#bio{
    font-size: 17px;
    margin-top:20px;
    color: grey;
}


body{
    background-color: #e5ded8;
}
.inner-separator{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: grey; /* old IE */
    background-color: grey; /* Modern Browsers */
    margin-top: 20px;
}

.selection-img{
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}