#title-text{
    text-align: left;
    width: 90%;
    display: block;
    border: none;
    /* border-bottom: 1px solid black; */
    box-sizing: border-box;
    font-size: 30px;
}

#operations{
    display: inline;
    border:  1px solid gray;
    padding: 6px 6px;
    border-radius: 4px;
    margin-left: 5px;
}
#operations a{
    color: grey;
    text-decoration: none;
}
#parent-line{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#title-description{
    text-align: left;
    width: 90%;
    margin: 8px 0;
    display: block;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
}
.post-byline{
    display: inline;
    text-align: left;
    color: grey;
    font-size: 15px;

}

.post-byline a{
    text-decoration: none;
    color: grey;
}
.post-byline a:visited{
    text-decoration: none;
    color: grey;
}

#post-content{
    text-align: left;
    color: black;
    font-size: 18px;
}
body {
    background-color: #e5ded8;
}

#postform-wrapper{
    padding: 30px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    overflow: auto;
}
#comment-editor{
    margin-top: 30px;
}

#id_content{
    width: 100%;
    border: solid 1px grey;
    border-radius: 3px;
}

#submit-comment{
    font-family: "helvetica","Times New Roman", Times, serif;
    background-color: white;
    color: grey;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    float: right;
}
.comment{
    padding: 30px;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    background-color: white;
    margin-top:10px;
    border-radius: 4px;
    box-shadow: 1px 1px grey;
}
.comment-byline{
    color: grey;
    font-size: 15px;
}
.comment-content{
    font-size: 17px;
    margin-top:15px;
}