#This is the virtual environment used in my local installation
knodenv
#This is the settings that is used in the development setup workspace
knode/env_setting*
#This is the workspace details for Visual studio code
.vscode
#This is python byte code, this varies with architecture to architecture, therefore no sense in including it
*.pyc
#The static folder is generated on running the collectstatic command
static/*
#This is a file created by finder in Mac OS that stores attributes of the folder
.DS_Store
__pycache__
.env
.envs/
node_modules/