{% load static %}
{% load compress %}
{% load sass_tags %}


<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<link href="{% sass_src 'scss/bulma.scss' %}" rel="stylesheet" type="text/css" />
{% compress js %}
<script src="{% static 'js/nav.js' %}"></script>
{% endcompress %}
{% compress css %}
<link rel='stylesheet' href="{% static 'css/base.css' %}">
<link rel='stylesheet' href="{% static 'css/error.css' %}">
<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
{% endcompress %}