{% load static %}
{% load compress %}

<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
{% compress js %}
<script src="{% static 'js/nav.js' %}"></script>
{% endcompress %}
{% compress css %}
<link rel='stylesheet' href="{% static 'css/nav.css' %}">
<link rel='stylesheet' href="{% static 'css/base.css' %}">
<link rel='stylesheet' href="{% static 'css/error.css' %}">
{% endcompress %}
<link rel="icon" type="image/png" href="{% static 'images/favicon_icon.ico' %}"/>