
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation" style="box-shadow:0 3px 6px rgba(0,0,0,0.3)">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        ezhuth.in
      </a>
      {% if not "add" in request.path %}
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      {% endif %}
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
    {% if user.is_authenticated %}
    <div class="navbar-end">
      {% if "/add/" in request.path or "/edit/" in request.path %}
      <div class="navbar-item">
          <input type="checkbox" id="malaylam-transliterate" onclick="attachElementMalayalam()">&nbsp; <a onclick="attachElementMalayalam()">Write in Malaylam</a>
      </div>
      <div class="navbar-item">
        <input type="submit"  class="button is-primary" name="publish" value="Publish" form="newpost" >
      </div>
      {% elif "/preview/" in request.path  %}
        <div class="navbar-item">
          <input type="submit"  class="button is-primary" name="Save Preview" value="Publish" form="previewpost" >
        </div>
      {% else %}
        <a class="navbar-item" href="{% url 'feed:add_post' %}">
          New Post
        </a>
        <a class="navbar-item" href="{% url 'feed:view_drafts' %}">
          Drafts
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Account
          </a>      
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="{% url 'account_change_password' %}" >
              Change Password
            </a>
            <a class="navbar-item" href="{% url 'account_email' %}" >
              Manage Email
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'account_logout' %}" >
              Log out
            </a>
          </div>
        </div>
      {% endif %}
  </div>
    {% else %}
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="{% url 'account_signup' %}">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="{% url 'account_login' %}" >
                Log in
              </a>
            </div>
          </div>
        </div>
    {% endif %}
    </div>
</nav>  