<div id="nav">
    <ul id="navlist">
        <div id="all-nav-links">
            {% if user.is_authenticated %}
            <div id="left">
                <div id="mobile-navbar">
                    <li id="home" class="navlink">
                        <a href="{% url 'feed:view_all' %}">Home</a>
                    </li>
                    <li class="navlink" id="icon">
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </div>
                
                <li class="hide-md navlink">
                    <a href="{% url 'feed:view_feed' %}">Activity</a>
                </li>
            </div>
            <div id="right">
                <li class="hide-md navlink">
                    <a href="{% url 'feed:add_post' %}">Create</a>
                </li>
                <li class="hide-md navlink">
                    <a href="{% url 'account_logout' %}">Logout</a>
                </li>

            </div>
            {% else %}
                <div id="left">
                    <div id="mobile-navbar">
                    <li class="navlink">
                        <a href="{% url 'feed:view_all' %}">Home</a>
                    </li>
                    <li class="navlink" id="icon">
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    </div>
                </div>
                <div id="right">
                        <li class="navlink hide-md" >
                        <a href="{% url 'account_login' %}">Log In</a>
                    </li>
                    <li class="navlink hide-md" >
                        <a href="{% url 'account_signup' %}">Create New Account</a>
                    </li>
                </div>
            {% endif %}
        </div>
    </ul>
</div>