

  #auth {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
  }
  textarea:focus, input:focus{
    outline: none;
}

  #action {
    border-radius: 1em;
    display: inline-block;
    background-color: #444444;
    font-size: 1em;
    font-weight:900;
    color: white;
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid gray;
    cursor: pointer;
    width: 85%;
  }

  input[type=text],
  input[type=password],
  input[type=email]{
    width: 85%;
    padding: 1em;
    border: none;
    border-radius: 1em;
    margin: 0.5em 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1em;
  }

  .inner-separator {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: grey;
    /* old IE */
    background-color: grey;
    /* Modern Browsers */
    margin-top: 20px;
  }

  #form-signin {
    margin-top: 10px;
    padding: 20px;
  }

  #forgotpsw {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin-top: 10px;
  }

  #forgotpsw a {
    text-decoration: none;
    margin-bottom: 30px;
  }

  .showFields {
    visibility: visible;
  }


  #remember-me{
    display: block;
    width: 85%;
    padding: 0 0;
    margin: 8px 0;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
    text-align: left;
  }
  #bottomauthstring{
    display: block;
    margin: 0 auto;
    text-decoration: underline;
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: rgb(194 110 110) 0.11rem 0.06rem 0rem;
  }
  @media screen and (min-width: 1300px) {
    #auth {
      width: 40%;
    }
  }
