@charset "utf-8";

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$navbar-background-color: white;
$navbar-box-shadow-size:   0px 4px 12px;
$navbar-box-shadow-color: rgba(0, 0, 0, 0.2);
$navbar-height: 3.7rem;

@import "bulma/bulma.sass";