{% extends "base.html" %}
{% load static%}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block headers %}
  <link rel='stylesheet' href="{% static 'css/auth.css' %}">
{% endblock %}


{% block content %}
<div id="auth">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.oldpassword }}
        {{ form.password1 }}
        {{ form.password2 }}
        <button type="submit" id="action" name="action">{% trans "Change Password" %}</button>
        <hr class="inner-separator">
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    </div>
{% endblock %}
