{% for post in posts %}
<div class="post">
    <div class="post-byline">Posted by {{ post.author |default_if_none:"[deleted]" }} on {{ post.created_on }}</div>
    <div class="post-title">{{ post.title }}</div>
    <!-- <div class="post-content">This is the content.This is the contentThis is the contentThis is the contentThis is the contentThis is the contentThis is the content</div> -->
    <hr class="inner-separator">
    <span class="read-more"><a href="{% url 'feed:view_post' post.slug %}">Read more</a></span>
</div>
{% endfor %}