#errors{
	margin: 10px;
}
.dismissible {
	color: #222;
	font-size: 16px;
	line-height: 22px;
	position: relative;
	overflow: hidden;
	margin-top: 5px;
}

 .dismissible span {
	background: #fff;
	border: 2px solid rgba(0, 0, 0, .3);
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
	box-sizing: border-box;
	display: block;
	margin: 0 auto 0px auto;
	padding: 10px;
	position: relative;
	text-align: center;

 }

.dismissible button:focus {
	outline: none;
}

.dismissible-error span {
	background-color: rgba(186, 33, 33,0.2);
	border-color: rgb(186, 33, 33);
	color: black;
}

.dismissible-info span {
	background-color:  rgba(33, 150, 243,0.2);
	border-color: rgb(33, 150, 243);
	color: black;
}

.dismissible-success span {
	background-color: rgba(124, 179, 66,0.2);
	border-color: rgb(124, 179, 66);
	color: black;
}
.dismissible-warning span {
	background-color:rgba(251, 140, 0,0.2);
	border-color: rgb(251, 140, 0);
	color: black;
}