#nav-container{
    display: block;
}
#nav-left{
    text-align: center;
}
#nav-title{
    margin: 0 auto;
    color: white;
    font-size: 3em;
    font-weight: 700;
    text-shadow: rgb(194 110 110) 0.09rem 0.3rem 0rem;
}
#nav-right{
    display: block;
    align-items: center;
}

.nav-item{
    display: block;
    margin: 0 auto;
    text-decoration: underline;
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: rgb(194 110 110) 0.11rem 0.06rem 0rem;
}

.nav-item-input-label{
    text-decoration: underline;
    padding: 1em;
    padding-left: 0.1em;
    text-align: center;
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: rgb(194 110 110) 0.11rem 0.06rem 0rem;
}
@media screen and (min-width: 1300px) {
    #nav-right{
        display: flex;
    }
    #nav-container{
        display: flex;
        justify-content: space-between;
    }
    #nav-title{
        padding-left: 0.5em;
    }
}
