{% load relative_time %}
{% load i18n %}
{% load post %}
{% load comment %}
{% load bleach_tags %}
{% load like %}
{% load static %}
{% load user %}
{% for post in posts %}
<div class="columns is-centered is-desktop is-mobile">
<div class="post column is-half-desktop is-four-fifths-mobile">

    <div class="post-byline"><a href="{% url 'feed:view_user' post.author.username %}">{{ post.author | full_name |default_if_none:"[deleted]" }}</a>  {{ post.created_on | pretty_date  }}</div>
    <div id="header-image">
      {% if post.header_image %}
      <img src="{{post.header_image.url}}"/>
      {% endif %}
    </div>
    <div class="post-title-sneak content">
      <a href="{% url 'feed:edit_post' post.slug %}"><div class="post-title">{{ post.title | bleach }}</div>
        <div class="post-sneak-peak content">
      {% if post.content %}
        {{ post.content | bleach }}
      {% endif %}
      </div></a>
    </div>
</div>  
</div>
  {% endfor %}