{% extends "base.html" %}
{% load static %}
{% block title %} Texteditor {% endblock %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ form.title }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ form.content }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <button type="submit" name="save" class="form-control btn btn-default">Save</button>
            </div>
            <div class="col-md-2">
                <button type="submit" name="publish" class="form-control btn btn-default">Publish</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}