{% load static %}
{% load like %}
{% load relative_time %}
{% load user %}
    {% for comment in comments.all %}
    <div class="comment">
        <div class="comment-byline">Posted by <a href="{% url 'feed:view_user' post.author.username %}">{{ comment.author | full_name |default_if_none:"[deleted]" }}</a> {{ comment.created_on | pretty_date}}</div>
        <div class="comment-content">{{ comment.content | linebreaks }}</div>
        {% comment_liked_by_user comment as show_likes %}
        <a {% if user.is_authenticated %}  onclick="likeComment('comments-{{comment.id}}','{{comment.id}}')" {% endif %}>
            <img id="comments-{{comment.id}}" class="heart" {% if show_likes %} src="{% static 'images/liked_heart.svg' %}"  {% else %} src="{% static 'images/heart.svg' %}" {% endif %} >
            <span id="comments-{{comment.id}}-number" class="like-number">{{ comment | comment_like_count }}</span>
        </a>
    </div>
    {% endfor %}
</div>