{% extends "base.html" %}
{% load static %}
{% block title%} Feed{% endblock %}
{% block content %}
<link rel='stylesheet' href="{% static 'css/content.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% comment %} Prints any message passed to template {% endcomment %}
            {% include "message.html" %}
        </div>
    </div>
    {% for post in posts %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2><a href="{% url 'feed:view_post' post.id %}">{{ post.title }}</a></h2>
                <h5>--{{ post.author |default_if_none:"[deleted]" }} | {{ post.created_on }}</h5>
                <div class="description">
                    <p> {{ post.description | safe }}</p><br><br>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}