{% extends "base.html" %}
{% load static %}
{% block title%} Feed{% endblock %}

{% block headers %}
<script src="{% static 'js/infinitescroll.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
      let bottomSentinel = document.querySelector("#sentinel");
      let scrollElement = document.querySelector("#posts");
      attachInfiniteScroll(bottomSentinel, scrollElement);
    })
  </script>
<link rel='stylesheet' href="{% static 'css/post.css' %}">
{% endblock%}
{% block content %}

<div id="posts">
    {% for post in posts %}
    <div class="post">
        <div class="post-byline">Posted by {{ post.author |default_if_none:"[deleted]" }} on {{ post.created_on }}</div>
        <div class="post-title">{{ post.title }}</div>
        <!-- <div class="post-content">This is the content.This is the contentThis is the contentThis is the contentThis is the contentThis is the contentThis is the content</div> -->
        <hr class="inner-separator">
        <span class="read-more"><a href="{% url 'feed:view_post' post.slug %}">Read more</a></span>
    </div>
    {% endfor %}
</div>

<div id="sentinel"></div>
{% endblock %}