{% extends "base.html" %}
{% load static %}
{% block title%} {{ post.title }}{% endblock %}
{% block headers %}
    <link rel='stylesheet' href="{% static 'css/viewpost.css' %}">
{% endblock %}
{% block content %}
<div id="postform-wrapper">
    <div id="postform">
        <form>
            <div id="parent-line">
                <div class="post-byline">Posted by {{ post.author |default_if_none:"[deleted]" }} on {{ post.created_on }}</div>
                {% if modify_status %}
                    <div id="parent-operations">
                        <div id="operations"><a href="{% url 'feed:edit_post' post.slug %}" onclick="return confirm('Are you sure you want to edit this item?');">Edit</a></div>
                        <div id="operations"><a href="{% url 'feed:delete_post' post.slug %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></div>
                    </div>
                {% endif %}
            </div>
            <span id="title-text">{{ post.title }}</span>
            <span id="title-description">{{ post.description }}</span>
            <div id="post-content">
                {{ post.content | safe }}
            </div>
        </form>
    </div>
</div>
{% endblock %}