{% extends "base.html" %}
{% load static %}
{% block title%} {{ post.title }}{% endblock %}
{% load relative_time %}
{% load like %}
{% load comment %}
{% load bleach_tags %}
{% block headers %}
    <link rel='stylesheet' href="{% static 'css/viewpost.css' %}">
    <script src="{% static 'js/like.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}
{% block content %}
<div id="postform-wrapper">
    <div id="postform">
        <div id="parent-line">
            <div class="post-byline">Posted by <a href="{% url 'feed:view_user' post.author %}">{{ post.author |default_if_none:"[deleted]" }}</a>  {{ post.created_on | pretty_date  }}</div>
            {% if modify_status %}
                <div id="parent-operations">
                    <div id="operations"><a href="{% url 'feed:edit_post' post.slug %}" onclick="return confirm('Are you sure you want to edit this item?');">Edit</a></div>
                    <div id="operations"><a href="{% url 'feed:delete_post' post.slug %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></div>
                </div>
            {% endif %}
        </div>
        <span id="title-text">{{ post.title }} </span>
        <div id="post-content">
            {{ post.content | bleach }}
        </div>
    </div>
    <div class="symbols">
        <div class="post-like">
            {% post_liked_by_user post as show_likes %}
            <img id="posts-{{post.id}}" class="heart" {% if show_likes %} src="{% static 'images/liked_heart.svg' %}"  {% else %} src="{% static 'images/heart.svg' %}" {% endif %} {% if display_comment_form %} onclick="likePost('posts-{{post.id}}','{{post.slug}}')" {% endif %}>
            <span id="posts-{{post.id}}-number" class="like-number">{{ post | post_like_count }}</span>
        </div>
        <div class="post-comment">
            <img id="posts-{{post.id}}" class="comment-icon" src="{% static 'images/circle.svg' %}"  onclick="toggleCommentVisibility()">
            <span id="posts-{{post.id}}-number" class="comment-number">Add a comment</span>
        </div>
    </div>
    {% if display_comment_form %}
    <div id="comment-editor" class="show-comment-editor">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{form.content}}
            <input type="submit" value="Add Comment" id="submit-comment">
        </form>
    </div>
    {% endif %}
</div>
<div id="comments" >
    {% include "feed/comments.html" %}
</div>
{% endblock %}