<!DOCTYPE html>    <head>
        <title>{% block title %}{% endblock %} | ezhuth</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        {% block headers %}
        {% endblock %}
        <style>
            body{
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
            }
        </style>
    </head>
    <body>
        {% include "nav.html" %}
        {% block content %}
        {% endblock %}
    </body>
</html>