<!DOCTYPE html>    <head>
        <title>{% block title %}{% endblock %} | Knode</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% block headers %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            {% include "nav.html" %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>