<style>
  body {
    padding: 0px;
    margin: 0px;
}
}
.navlink{
    display: inline;
    list-style-type: none;
    text-align: left;
}
.hide-md a
{
    display: none;
}
.responsive a
{
    display: block;
}
#home{
    text-align: left;
    display: inline;
}
/* #icon{
    display: inline;
} */
#mobile-navbar{
    display: flex;
    justify-content: space-between;
}
#mobile-navbar responsive {
    background-color: #db6a6a;
}

.navlink > a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-top: 15px;
}

.navlink > a:hover {
    background-color: #db6a6a;
    border-radius: 1px;
}

#navlist{
    background-color: #393232;
    list-style-type: none;
    padding: 8px;
    margin: 0px;
    font-family: sans-serif;
    padding: 15px;
    
}

#nav{
    margin: 0px;
}

@media screen and (min-width: 1300px) { 
    #all-nav-links{
        display: flex;
        justify-content: space-between;
    }
    .navlink{
        display: inline;
        list-style-type: none;
    } 
    .navlink a{
        padding: 20px;
    }
    .hide-md a
    {
        display: inline;
    }
    #icon{
        display: none;
    }
    #mobile-navbar{
    display: inline;
    }
}
</style>
<script>
    function myFunction(){
        console.log("hey");
        var els = document.getElementsByClassName("hide-md")
        for(var i = 0, all = els.length; i < all; i++){   
             els[i].classList.toggle('responsive');
         }
    }
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="nav">

    <ul id="navlist">
        <div id="all-nav-links">
            {% if user.is_authenticated %}
            <div id="left">
                <div id="mobile-navbar">
                    <li id="home" class="navlink">
                        <a href="{% url 'feed:view_all' %}">dontsurf</a>
                    </li>
                    <li class="navlink" id="icon">
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </div>
                
                <li class="hide-md navlink">
                    <a href="{% url 'feed:view_feed' %}">Activity</a>
                </li>
            </div>
            <div id="right">
                <li class="hide-md navlink">
                    <a href="{% url 'feed:add_post' %}">Create</a>
                </li>
                <li class="hide-md navlink">
                    <a href="{% url 'authentication:logout_user' %}">Logout</a>
                </li>

            </div>
            {% else %}
                <div id="left">
                    <div id="mobile-navbar">
                    <li class="navlink">
                        <a href="{% url 'feed:view_all' %}">dontsurf</a>
                    </li>
                    <li class="navlink" id="icon">
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    </div>
                </div>
                    <div id="right">
                        <li class="navlink hide-md" >
                        <a href="{% url 'authentication:render_login_page' %}">SignIn</a>
                    </li>
                    <li class="navlink hide-md" >
                        <a href="{% url 'authentication:render_signup_page' %}">Signup</a>
                    </li>
                </div>
            {% endif %}
        </div>
    </ul>
</div>
