<style>
  body {
    padding: 0px;
    margin: 0px;
}

.navlink{
    display: inline;
    list-style-type: none;
    
}

.navlink > a {

    text-decoration: none;
    font-size: 16px;
    padding:20px;
    color: white;
}

.navlink > a:hover {
    background-color: #db6a6a;
    border-radius: 1px;
}

#navlist{
    background-color: #393232;
    list-style-type: none;
    padding: 8px;
    margin: 0px;
    font-family: sans-serif;
    padding: 15px;
    
}

#nav{
    margin: 0px;
}
#all-nav-links{
    display: flex;
    justify-content: space-between;
}

</style>

<div id="nav">

    <ul id="navlist">
        <div id="all-nav-links">
            {% if user.is_authenticated %}
            <div id="left">
                <li class="navlink">
                    <a href="{% url 'feed:view_all' %}">Home</a>
                </li>
                
                <li class="navlink">
                    <a href="{% url 'feed:view_feed' %}">Activity</a>
                </li>
            </div>
            <div id="right">
                <li class="navlink">
                    <a href="{% url 'feed:add_post' %}">Create</a>
                </li>
                <li class="navlink">
                    <a href="{% url 'authentication:logout_user' %}">Logout</a>
                </li>
            </div>
            {% else %}
                <div id="left">
                    <li class="navlink">
                        <a href="{% url 'feed:view_all' %}">Home</a>
                    </li>
                </div>
                    <div id="right">
                        <li class="navlink" >
                        <a href="{% url 'authentication:render_login_page' %}">SignIn</a>
                    </li>
                    <li class="navlink" >
                        <a href="{% url 'authentication:render_signup_page' %}">Signup</a>
                    </li>
                </div>
            {% endif %}
        </div>
    </ul>
</div>
